#This text needs to be copied and saved into a file, edited then given to AMBoP.

#First specify the full path to where you want to output all the data to. This is automatically set to the directory you are currently in when you run AMBoP:
MYPATH=/path/to/outputs

#Set the path to where the raw data is:
DATAPATH=/path/to/raw/data

#Set the path to where the reference genome is:
REFPATH=/path/to/ref/genomes 

#Set path to where the aux_tools directory is:
AUX_TOOLS=/path/to/aux_tools

# Set the path to where the trimmomatic adapters are (must be a fasta file):
ADAPTERS=/path/to/apdapter/file.fasta

#Set the path to where the functional annotation file is, this is passed to functional_variant.py:
REF_FUNC_ANNO=/path/to/functional_annotations.csv

#Set a unique name for each 'experiment' or each time the script is run. The final files will have this unique name in the file name:
UNIQ="experiment-name"  

#Set the raw read file patterns for forward and reverse. Look for things that are common to all forward and reverse files such that when you use this pattern with the ls command, it finds them all:
FORWARDPATTERN="*R1*"
REVERSEPATTERN="*R2*"

# Set true or false - do you want to perform FASTQC quality checking? (This will only perform quality checking then exit):
FASTQC=true
# Set true or false - do you want to perform FASTQC quality checking on trimmed reads (This will only perform this quality checking then exit):
TRIM_FASTQC=true

#Set parameters for Trimmomatic read trimming:
ILLUMINACLIP=ILLUMINACLIP:trimmomatic_adapters.fasta:2:30:10
SLIDINGWINDOW=SLIDINGWINDOW:10:20
MINLEN=MINLEN:50
AVGQUAL=AVGQUAL:20

#Set the number of thread (CPUs) to use. Set to 1 if you want to run interactively (will take longer) or set to 8 or 12 if submitting as a job. - BWA 'may' crash when used with more than ~6 threads so set separately.
THREADS=4
BWA_THREADS=4

#These settings change how strict the SNP filtering is. The defaults set are relaxed.
MQ=30 #Mapping quality.
DP=10 #Depth of reads covering site.
DP4F=1 #Number of supporting forward reads.
DP4R=1 #Number of supporting reverse reads.
SUPPORT=0.95 #Percentage (give as decimal) of reads needed to support an alternative site.
VAR_POS_NUM=10 #The number of base pairs that a variant can be away from another variant reported. 

#Set the default database that snpEff requires. To check whether there is a database for your reference genome, activate the conda environment and run snpEff databases and find the database you require, altneratibely set up your own database following the instructions online for SnpEff. 
SNPEFF_DB=database

#Set the level of clear up you'd like after AMBoP has completed. The files AMBoP creates can be very large, including bam files and vcf files. The default as below is set to ALL, which will remove all intermediate files. Change this to "NONE" to delete none of the intermediate files, or give a comma separated list (in double quotes) of any of the following to delete just those directories:
#TRIMMEDREADS, BAMS, PASSEDFILES, FASTA, VARIANTS
CLEARUP="NONE"  


