#This text needs to be copied and saved into a file, edited then given to AMBoP.

#First specify the full path to where you want to output all the data to. This is automatically set to the directory you are currently in when you run AMBoP.
MYPATH=/ibers/repository03/groups/aber_tb/dev_data/jess_test

#Set the path to where the raw data is.
DATAPATH=/ibers/repository03/groups/aber_tb/dev_data/small

#Set the path to where the reference genome is. This shouldn't need changing:
REFPATH=/ibers/repository03/groups/aber_tb/AMBoP/reference_genomes/mbovisAF212297/mbovisAF212297_ref.fa 

#Set path to where the aux_tools
AUX_TOOLS=/ibers/repository03/groups/aber_tb/AMBoP/apps/AMBoP/aux_tools-0.2

# Set the path to where the trimmomatic adapters are:
ADAPTERS=/ibers/repository03/groups/aber_tb/AMBoP/required_data_files/trimmomatic_adapters.fasta

# Set the path to where the excluded region file is:
EXCLUDED_REGIONS=/ibers/repository03/groups/aber_tb/AMBoP/required_data_files/regions_to_be_excluded.txt


# This is passed to functional_variant.py
REF_FUNC_ANNO=/ibers/repository03/groups/aber_tb/AMBoP/reference_genomes/mbovisAF212297/mbovisAF212297_ref_functional_annotations.csv


#Set a unique name for each 'experiment' or each time the script is run. The final files will have this unique name in the file name.
UNIQ="jf_testing_dev"  

#Set the number of thread (CPUs) to use. Set to 1 if you want to run interactively (will take longer) or set to 8 or 12 if submitting as a job. - BWA 'may' crash when used with more than ~6 threads so set separately.
THREADS=4
BWA_THREADS=4

#Set the raw read file patterns for forward and reverse. Look for things that are common to all forward and reverse files such that when you use this pattern with the ls command, it finds them all. 
FORWARDPATTERN="*R1*"
REVERSEPATTERN="*R2*"

# Perform FASTQC quality checking
FASTQC=true


###-----###
#These settings will be implemented in AMBoP 0.41 "control" but are not used in AMBoP 0.35 "stricter". If running AMBoP 0.35 "stricter" you can either delete these lines or just ignore them. 

#These settings change how strict the SNP filtering is. The defaults set are relaxed. See documentation for AMBoP 0.41 "control" for alternatives. 
MQ=30 #Mapping quality.
DP=10 #Depth of reads covering site.
DP4F=1 #Number of supporting forward reads.
DP4R=1 #Number of supporting reverse reads.
SUPPORT=0.95 #Percentage (give as decimal) of reads needed to support an alternative site.
###-----###


#Set the level of clear up you'd like after AMBoP has completed. The files AMBoP creates can be very large, including bam files and vcf files. The default as below is set to ALL, which will remove all intermediate files. Change this to "NONE" to delete none of the intermediate files, or give a comma separated list (in double quotes) of any of the following to delete just those directories:
#TRIMMEDREADS, BAMS, PASSEDFILES, FASTA, VARIANTS
CLEARUP="NONE"  


#-------- This needs to be cleaned up
#Note that users currently do not have control over trimming settings, but in AMBoP 0.35 "stricter" these have been set to:
#ILLUMINACLIP:trimmomatic_adapters.fasta:2:30:10 SLIDINGWINDOW:3:20 MINLEN:50 AVGQUAL:20 in accordance with previous publications.
#and for AMBoP 0.41 "control", they are set to: 
#ILLUMINACLIP:trimmomatic_adapters.fasta:2:30:10 SLIDINGWINDOW:10:20 MINLEN:50 AVGQUAL:20 in accordance with previous publications and APHA recommendations. 

#In version _5.0 users have the same listed defaults as above but can also modify if wanted 
LLUMINACLIP=ILLUMINACLIP:trimmomatic_adapters.fasta:2:30:10 
SLIDINGWINDOW=SLIDINGWINDOW:10:20 
MINLEN=MINLEN:50 
AVGQUAL=AVGQUAL:20 



#------#
#Here we will have user options to include or exclude the 'excluded' Highly-Variabile regions.
EXCLUDE=true



#-----#
#Tree building parameters.
GENOME_TREE=true
GENOME_TREE_EXCLUDE=true

